parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
		- %rootDir%/../../../tests/shim.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Access to undefined constant Feedback\\Store\\StoreInterface::NAME.#'
